.btn-master {
    padding: 16px 28px;
    font-weight: 600;
    border: none;
    min-width: max-content;
    border-radius: 12px;

}

.btn-primary {
    @extend .btn-master;
    background-color: $purple-sub;
    color: $purple;

    &:hover {
        color: $purple;
        background-color: $purple-sub;
    }
}

.btn-secondary {
    @extend .btn-master;
    background-color: $yellow-pastel;
    color: $black;

    &:hover {
        color: $black;
        background-color: $yellow-pastel;

    }
}